# 任务3

In [2]:
import pandas as pd
#导入数据
data=pd.read_excel(r'D:\大数据学习\数据分析与挖掘\20B题\附件1.xlsx','国际疫情')
data

              日期       国家    累计确诊    累计治愈  累计死亡
0     2020-01-27     澳大利亚       5       0     0
1     2020-01-27       法国       3       0     0
2     2020-01-27       韩国       4       0     0
3     2020-01-27      加拿大       1       0     0
4     2020-01-27      柬埔寨       1       0     0
...          ...      ...     ...     ...   ...
25446 2020-06-30     直布罗陀     177       0     1
25447 2020-06-30   至尊公主邮轮      21       0     0
25448 2020-06-30       智利  275999  236154  5575
25449 2020-06-30    中非共和国    3613     773    47
25450 2020-06-30  钻石公主号邮轮     712     574    13

[25451 rows x 5 columns]

In [3]:
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib

#定义函数绘画折线图
def T3_1(date):
    data=pd.read_excel(r"D:\大数据学习\数据分析与挖掘\20B题\附件1.xlsx",'国际疫情')
    data_1=data.loc[data['国家']==date]
    plt.rcParams['font.sans-serif']=['SimHei']
    plt.plot(data_1.日期,data_1.累计确诊,linestyle='-',linewidth=2)
    plt.title(date)
    plt.show()
T3_1('伊朗')     #调用函数可获得相应的折线图 → 反馈增长率

Using matplotlib backend: Qt5Agg

In [ ]:
#定义函数绘画月环比图
import numpy as np
def T3_2(date):
    data=pd.read_excel(r"D:\大数据学习\数据分析与挖掘\20B题\附件1.xlsx",'国际疫情')
    data_1=data.loc[data['国家']==date]
    data_1.日期=pd.to_datetime(data_1.日期,format='%Y/%m/%d')
    data_1['月']=data_1['日期'].dt.month
    data_3_1=data_1.groupby(by=['月'])
    result=data_3_1.aggregate({'累计确诊':np.sum})
    data_vm=[]
    a=1
    while a<6:
        a+=1
        data_ve=result.累计确诊[a]/result.累计确诊[a-1]
        data_vm.append(data_ve)
    data_mone=[2,3,4,5,6]
    plt.rcParams['font.sans-serif']=['SimHei']
    plt.plot(data_mone,data_vm,linestyle='-',linewidth=2)
    plt.title(date)
    plt.show()
T3_2('英国')  #调用函数可获得相应的月环比图  → 反馈增长对比

In [ ]:
#绘制死亡率与治愈率对比折线图
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib
def T3_3(date):
    data=pd.read_excel(r"D:\大数据学习\数据分析与挖掘\20B题\附件1.xlsx",'国际疫情')
    data_1=data.loc[data['国家']==date]
    data_1['治愈率']=data_1['累计治愈']/data_1['累计确诊']
    data_1['死亡率']=data_1['累计死亡']/data_1['累计确诊']
    plt.rcParams['font.sans-serif']=['SimHei']    
    plt.plot(data_1.日期,data_1.死亡率,linestyle='-',label='死亡率',linewidth=2,color='red')
    plt.plot(data_1.日期,data_1.治愈率,linestyle='-',linewidth=2,label='治愈率')
    plt.title(date+'死亡率与治愈率比较图')
    plt.show()
T3_3('伊朗')